
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=mugo
GenericName=Go
Comment=mugo
Exec=mugo
Icon=/usr/share/mugo/pics/mugo.png
MimeType=text/plain;text/sfg;Application
Terminal=false
Categories=Qt;KDE;Game;BoardGame;

